.container {
  max-width: 1339px;
  padding: 0 79px 0 79px;
}
.body {
  background: url("#{$imagesPath}hero_bg_mid.jpg") left top no-repeat,
    url("#{$imagesPath}quetions_bg_mid.jpg") left 0 bottom 175px no-repeat;
  background-size: 100% 1024px, 100% 640px;
}
