.header {
  .menu-burger {
    display: none;
  }
}
.desktop-nav {
  display: block;
  .nav__item {
    display: inline-block;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.nav__item {
  a {
    transition: all 0.5s;
  }
  a:hover {
    font-weight: 900;
  }
}
