.hero__title {
  font-size: 50px;
  .companyName {
    font-size: 96px;
  }
  .name1 {
    top: 112px;
  }
  .name2 {
    top: 193px;
  }
}
.main__link {
  top: 568px;
}
.switch-lang {
  order: 1;
  height: 40px;
}
.hero__title-en {
  font-size: 77px;
}
