$autor__speach-width: calc(
  100% - 84px - 26px
); // 100% width - img-width - space-betw-img-and-text

.a-content {
  background: url("#{$imagesPath}article-9-tips/a-content-bg-small.jpg")
    no-repeat;
  background-position: top left;
  background-size: 100% 200px;
  padding-top: 159px;
}
.a-content__header {
  margin: 0 26px 30px 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: $gray;
}
.a-header__subtitle {
  flex-basis: 100%;
  order: -1;
  align-self: flex-start;
  font-size: 10px;
  line-height: 14px;
  padding: 4px 0 17px 10px;
  font-family: $fontMetropolis-Regular;
  background: rgba(240, 240, 240, 0.8);
  span:first-child {
    margin-right: 10px;
  }
}
.a-header__title {
  flex-basis: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 35px;
  background: rgba(240, 240, 240, 0.8);
  margin: 0;
  span {
    display: block;
  }
}
.autor__photo {
  width: 84px;
  height: 84px;
  align-self: center;
  margin: 36px 26px 0 0;
}
.autor__speach {
  display: inline-block;
  width: $autor__speach-width;
  font-size: 14px;
  line-height: 123.1%;
  letter-spacing: 0.025em;
  margin: 36px 0 0 0;
  align-self: center;
}
.a-content__prg {
  margin: 0 26px;
  font-size: 14px;
  line-height: 123.1%;
  letter-spacing: 0.025em;
}
.a-prg__title {
  font-weight: 600;
  margin: 0 0 20px 0;
}
