$cu-list-width: calc(100% - 28px - 28px);
$cu-form-width: calc(100% - 69px - 69px);

.cu-nav {
  height: 60px;
}
.cu-contacts {
  background: url("#{$imagesPath}contact-us/cu-contacts-small.jpg") no-repeat;
  background-size: 100% 891px;
  background-position: left 268px;
}
.cu-contacts__title {
  font-family: $fontParis;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.075em;
  color: $gray;
  margin: 0;
  text-align: center;
  padding: 2px 0 31px 0;
  z-index: 2;
  position: relative;
}
.cu-contacts__info {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.7);
  width: $cu-list-width;
  margin: 0 auto;
  padding-top: 46px;
  position: relative;
  top: -58px;
}
.cu__text {
  padding: 0 51px;
  font-size: 17px;
  line-height: 125.6%;
  color: $gray;
  order: -1;
  text-align: center;
  height: 111px;
  margin-bottom: 36px;
  span {
    display: none;
  }
}
.cu-list {
  list-style: none;
  padding: 0 0 57px 0;
  margin: 0;
}
.cu-list__link {
  font-family: $fontMetropolis-Regular;
  text-decoration: none;
  color: $gray;
  font-size: 14px;
  line-height: 19px;
}
.cu-list__item {
  position: relative;
  height: 25px;
  padding-left: 55px;
  display: flex;
  align-items: center;
  max-width: 194px;
  margin: 0 auto 15px auto;
}
.cu-list__item:before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  left: 1px;
}
.cu-list__item-mail:before {
  background-image: url("#{$imagesPath}index/icon.svg");
  background-size: 100%;
}
.cu-list__item-inst:before {
  background-image: url("#{$imagesPath}index/phone-icon.svg");
  background-size: 100%;
  margin-bottom: 0;
}
.cu-list__item-phone:before {
  background-image: url("#{$imagesPath}index/inst-icon.svg");
  background-size: 100%;
}

// styling for form '.cu_form'
.cu-form {
  width: $cu-form-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding-bottom: 192px;
  position: relative;
  label {
    flex-basis: 100%;
  }
}
.cu-form__item {
  width: 100%;
  background-color: $white;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  height: 38px;
  padding-left: 15px;
}
.cu-form__item::placeholder {
  color: $gray;
  font-family: $fontMetropolis-Regular;
  font-size: 20px;
  line-height: 27px;
}
.cu-form__textarea {
  min-height: 90px;
  padding-top: 12px;
}
.cu-form__select,
.cu-form__date {
  color: gray;
  font-size: 19px;
  margin-bottom: 14px;
}
.cu-form__button {
  display: block;
  flex-basis: 131px;
  text-transform: uppercase;
  margin: 0 auto;
}
.notification {
  opacity: 0;
  transition: all 0.5s;
  color: $light-brown;
  font-size: 20px;
  line-height: 25px;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  font-weight: 700;
  span {
    display: block;
    text-align: center;
  }
}
