$i-w-review__boxes-width: calc(100% - 30px);
$i-w-review__container-width: calc(100% - 100px);
// styling for .i-w-slider starst
.i-w-slider {
  position: relative;
}
.i-w-slider__container {
  display: flex;
  transform: translateX(0);
  transition: all 1s;
  min-height: 668px;
}
.i-w-box {
  flex-basis: 100%;
  flex-shrink: 0;
  min-height: 668px;
  // height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 331px;
}
.i-w-box1 {
  background: url("#{$imagesPath}indian-wedding/slide1-small.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 668px;
}
.i-w-box2 {
  background: url("#{$imagesPath}indian-wedding/slide2-small.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 668px;
}
.i-w-box3 {
  background: url("#{$imagesPath}indian-wedding/slide3-small.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 668px;
}
.i-w-box4 {
  background: url("#{$imagesPath}indian-wedding/slide4-small.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 668px;
}
.i-w-box5 {
  background: url("#{$imagesPath}indian-wedding/slide5-small.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 668px;
}
.i-w-box6 {
  background: url("#{$imagesPath}indian-wedding/slide6-small.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 668px;
}
.i-w-box7 {
  background: url("#{$imagesPath}indian-wedding/slide7-small.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 668px;
}
.i-w-box__title {
  -webkit-text-stroke: 1px black;
  font-weight: 700;
  font-size: 45px;
  line-height: 69px;
  mix-blend-mode: screen;
  background: white;
  padding: 20px 0 10px 0;
  margin: 0;
  span {
    display: block;
    text-align: center;
  }
}
.i-w-box__subtitle {
  mix-blend-mode: screen;
  background: white;
  min-height: 50px;
  margin: 0;
  font-family: $fontMetropolis-Regular;
  text-align: center;
  font-size: 17px;
  line-height: 25px;
}
.i-w-box__text {
  display: none;
  padding: 20px 30px;
  color: $gray;
  background: white;
  font-size: 14px;
  text-align: justify;
}
.i-w-slider__arrow {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 522px;
  z-index: 2;
}
.i-w-slider__arrow-r {
  right: 22px;
}
.i-w-slider__arrow-l {
  left: 22px;
}
.i-w__btn-wrapper {
  width: 100%;
  background: $white;
  padding-bottom: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: end;
}
.i-w-box__btn {
  display: flex;
  text-align: center;
  justify-content: center;
}
.i-w-slider__bottoms {
  margin: 20px auto 0 auto;
  width: 76px;
  font-size: 0;
}
.i-w-slider__bottom {
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background: $light-gray;
  margin-right: 4px;
}
.i-w-slider__bottom:last-child {
  margin-right: 0;
}
.i-w-slider__bottom-act {
  background: $light-brown;
}
// styling for .i-w-slider ends

// styling for .i-w-benefits starst
.i-w-benefits {
  margin: 0 38px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
@include brownLine(".i-w-benefits", "100%", "2px") {
  bottom: 0;
}
@include brownLineBefore(".i-w-benefits", "100%", "2px") {
  top: 15px;
}
.i-w-benefit {
  height: 92px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.i-w-benefits__t {
  font-family: $fontMetropolis-Regular;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  padding-top: 50px;
  svg {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
  }
}
.i-w-benefits__d {
  font-size: 10px;
  line-height: 14px;
  font-family: $fontBaskerville-Italic;
  margin-bottom: 13px;
}

// styling for .i-w-benefits ends

//styling for .i-w-review starts
.i-w-review__info {
  margin: 38px;
}
.i-w-review__title {
  font-size: 50px;
  line-height: 50px;
  color: $gray;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}
.i-w-review__subtitle {
  display: block;
  font-family: $fontMetropolis-Regular;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  text-transform: uppercase;
  color: $light-brown;
  padding-left: 5px;
}
.i-w-review__boxes {
  width: $i-w-review__boxes-width;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.i-w-review__container {
  width: $i-w-review__container-width;
  margin: 0 auto;
}
.i-w-review__arrow {
  position: absolute;
  height: 100%;
  width: 50px;
  background: $white;
  top: 0;
  display: flex;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
  }
}
.i-w-review__arrow-l {
  left: 0;
  img {
    margin-right: 10px;
  }
}
.i-w-review__arrow-r {
  right: 0;
  img {
    margin-left: 10px;
  }
}
.i-w-review__container {
  display: flex;
  transform: translateX(0);
  transition: all 1s;
}
.i-w-review__box {
  flex-basis: 100%;
  flex-shrink: 0;
  text-align: center;
  padding: 0 10px;
}
.i-w-review__box-name {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: $light-brown;
  margin-bottom: 10px;
}

.i-w-reviw__box-role {
  font-family: $fontBaskerville-Italic;
  font-size: 14px;
  line-height: 123.1%;
  letter-spacing: 0.025em;
  display: block;
  margin-bottom: 10px;
}
.i-w-review__box-stars {
  margin: 0 auto 20px 0;
}

.i-w-review__box-text {
  font-size: 14px;
  line-height: 123.1%;
  letter-spacing: 0.025em;
  text-align: start;
}
//styling for .i-w-reviews ends

.i-w-box__text-open {
  display: block;
}
