.stay-in-touch-header {
  background: url(#{$imagesPath}index/stay-in-touch_small.jpg) no-repeat;
  background-size: 100% 225px;
  padding-top: 185px;
}
.stay-in-touch__title {
  font-family: $fontParis;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -0.055em;
  color: $light-brown;
  display: block;
  width: 267px;
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 0 auto;
  padding-top: 6px;
}
.contacts {
  margin: 27px 0 15px 0;
  display: flex;
  gap: 38px;
  justify-content: space-between;
  color: $gray;
}
.contacts__list {
  margin: 0;
  list-style: none;
  padding-left: 43px;
  background-color: $lightest-gray;
}
.contacts-item {
  font-family: $fontMetropolis-Regular;

  padding-right: 23px;
  position: relative;
  margin-bottom: 15px;
  line-height: 23px;
  a {
    text-decoration: none;
    font-size: 11px;
    line-height: 15px;
    height: 25px;
    color: $gray;
  }
}
.contacts-item:after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 0;
  right: -12px;
}
.item-inst::after {
  background: url(#{$imagesPath}index/inst-icon.svg);
  background-size: cover;
}
.item-sob::after {
  background: url(#{$imagesPath}index/icon.svg);
  background-size: cover;
}
.item-tel::after {
  background: url(#{$imagesPath}index/phone-icon.svg);
  background-size: cover;
}
.item-sob {
  margin-top: 30px;
}
.contacts__text {
  padding-right: 43px;
}
.contacts__text-mobile {
  margin: 0 0 0 0;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 34px;
}
.contacts__text-tablet {
  display: none;
}
.contacts-btn {
  text-transform: uppercase;
  text-decoration: none;
}
