.footer {
  height: 45px;
  padding-top: 13px;
}
.footer__text {
  font-family: $fontMetropolis-Regular;
  font-size: 8px;
  line-height: 11px;
  text-align: center;
  color: $light-gray;
  text-align: center;
  margin: 0;
}
