.a-content {
  background: none;
  padding: 193px 10px 0 10px;
  max-width: 1620px;
  margin: 0 auto;
  width: 100%;
}
.a-content__header {
  justify-content: center;
  margin: 0 60px;
  position: relative;
  margin-bottom: 839px;
}
.a-content__header:after {
  content: "";
  display: block;
  background: url("#{$imagesPath}article-9-tips/a-content-bg-big.jpg") no-repeat;
  background-size: 100%;
  height: 839px;
  max-width: 1593px;
  width: 100%;
  position: absolute;
  bottom: -839px;
}

.autor__photo {
  order: -2;
  margin: 0 50px 0 0;
}
.a-header__subtitle {
  background: none;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  span:nth-child(2) {
    display: none;
  }
  span:first-child {
    display: block;
    font-family: $fontBaskerville-Italic;
    font-size: 22px;
    line-height: 114.1%;
    letter-spacing: 0.045em;
  }
  span:last-child {
    display: block;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $black;
    order: -1;
    margin-bottom: 13px;
  }
}
.a-header__title {
  padding: 70px 0 60px 0;
  background: none;
  font-size: 41px;
  line-height: 56px;
  span {
    display: inline-block;
  }
}
.autor__speach {
  margin: 0 0 50px 0;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
}
.a-content__prg {
  font-size: 28px;
  line-height: 126.6%;
}
.a-prg__title {
  margin-bottom: 30px;
}
.a-prg__text {
  margin-bottom: 38px;
}
