$content__article-width: calc((100% - 90px) / 2);
.main-blog {
  background: url(#{$imagesPath}blog/blog-bg-big.jpg) no-repeat;
  background-size: 100% 479px;
  padding-top: 479px;
  max-width: 1920px;
  margin: 0 auto;
}
.content {
  max-width: 1920px;
  padding: 0 162px;
  margin: 0;
}
.content__title {
  color: $gray;
  font-size: 170px;
  line-height: 170px;
  margin: 228px 0 43px 0;
}
.blog__descr-hide {
  display: block;
  margin: 0 100px 31px 100px;
}
.blog__descr,
.blog__descr-hide {
  font-size: 28px;
  line-height: 126.6%;
  span {
    margin-top: 31px;
  }
}
.blog__descr {
  margin: 0 100px 50px 100px;
  position: relative;
  padding: 0;
}
@include brownLine(".blog__descr", "100%", "3px") {
  bottom: -50px;
}
.blog__articles {
  margin-top: 107px;
  columns: 2;
  column-gap: 90px;
}
.content__article {
  break-inside: avoid;
  flex-basis: $content__article-width;
  padding: 0 0 80px 0;
}

.content__article:before {
  display: none;
}
.article__title {
  font-weight: 500;
  font-size: 31px;
  line-height: 42px;
}
