$label-flex-basis: calc((100% - 113px) / 2);
.cu-contacts {
  background-image: url("#{$imagesPath}contact-us/cu-contacts-big.jpg")
    no-repeat;
  background-size: 40.4% 1113px;
  background-position: top right;
  max-width: 1696px;
  width: 100%;
  margin: 0 auto;
}
.cu-contacts__title,
.cu-contacts__info,
.cu-form {
  max-width: 890px;
  width: 51.9%;
  margin: 0;
}
.cu-contacts__title {
  padding: 78px 0 41px 0;
  font-size: 170px;
  line-height: 170px;
  letter-spacing: -0.05em;
}
.cu-contacts__info {
  background: none;
  position: static;
  padding-top: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 50px;
}
.cu__text {
  order: 1;
  margin: 0;
  padding: 0;
  height: auto;
  font-size: 23px;
}
.cu-list {
  margin-left: 50px;
}
.cu-list__item {
  height: 60px;
  padding-left: 85px;
  max-width: 381px;
}
.cu-list__item:before {
  width: 55px;
  height: 55px;
}
.cu-list__link {
  font-size: 28px;
  line-height: 35px;
}

// stylibg for form '.cu-form'
.cu-form {
  padding-left: 50px;
  margin-top: 121px;
  column-gap: 113px;
  row-gap: 52px;
  label {
    flex-basis: $label-flex-basis;
  }
}
.cu-form__item:placeholder {
  font-size: 21px;
}
.cu-form__button {
  margin-top: 0;
}
