.header {
  display: block;
  background-color: $black-bg;
}
.header-container {
  max-width: 1594px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-family: $fontMetropolis-Regular;
  color: $gray;
  font-weight: 500;
  flex-wrap: wrap;
}
.header__tittle {
  flex-basis: 50%;
  letter-spacing: -0.5px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
}
.header__contacts {
  flex-basis: 50%;
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 54px;
  letter-spacing: -0.5px;
  font-size: 28px;
  a {
    text-decoration: none;
    color: $gray;
  }
}
.header__img {
  flex-basis: 100%;
}
