.hero {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.nav {
  flex-basis: 100%;
  align-self: center;
  filter: drop-shadow(-10px 0px 16px rgba(0, 0, 0, 0.2));
  max-height: 78px;
  width: 100%;
  background-color: $white;
}
.nav__wrapper {
  max-width: 1594px;
  margin: 0 auto;
}
.mobile-nav {
  display: none;
}

.nav-close + .nav__list {
  height: 78px;
  display: block;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 67px;
  position: static;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  letter-spacing: -1.8px;
  &:hover {
    color: #d59d40;
  }
}

.hero {
  background: url("#{$imagesPath}index/hero_big.jpg") top left no-repeat;
  background-size: auto;
  background-position: left 78px;
}
.features {
  background: none;
  height: auto;
  padding-bottom: 672px;
}
.features__info {
  max-width: 1594px;
  margin: 0 auto;
}
.features__titles {
  padding-top: 65px;
  max-width: 100%;
}
.features__title {
  padding-top: 0;
  font-weight: 400;
  font-size: 202px;
  line-height: 202px;
}
.features__subtitle {
  font-size: 41px;
  line-height: 56px;
}
.features__text {
  padding: 30px 0 0 0;
  font-size: 26px;
  line-height: 110.6%;
}
.features__link {
  display: none;
}
.menu {
  max-width: 50%;
  position: absolute;
  left: 45%;
  top: 629px;
}
.menu__list {
  flex-basis: 330px;
  padding: 0;
  flex-grow: 0;
}
.menu__item {
  font-size: 21px;
  text-align: center;
}
.menu__item_descr {
  z-index: 2;
  flex-grow: 1;
  margin-left: 41px;
  padding: 0 30px;
  &:after {
    width: 3px;
    height: 445px;
  }
  span {
    max-width: 100%;
    text-align: center;
  }
}
.nav__item-active {
  .nav__link {
    color: #d59d40;
  }
}
