// styling  for div .i-w-slider starts
.i-w-header-container {
  background: url("#{$imagesPath}indian-wedding/header-bg.jpg") no-repeat;
  background-size: 100% 477px;
  background-position: left 65px;
  padding-bottom: 455px;
}
.i-w-slider__container {
  min-height: 1080px;
}
.i-w-box {
  padding-top: 516px;
}
.i-w-box1 {
  background: url("#{$imagesPath}indian-wedding/slide1-big.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 1080px;
}
.i-w-box2 {
  background: url("#{$imagesPath}indian-wedding/slide2-big.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 1080px;
}
.i-w-box3 {
  background: url("#{$imagesPath}indian-wedding/slide3-big.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 1080px;
}
.i-w-box4 {
  background: url("#{$imagesPath}indian-wedding/slide4-big.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 1080px;
}
.i-w-box5 {
  background: url("#{$imagesPath}indian-wedding/slide5-big.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 1080px;
}
.i-w-box6 {
  background: url("#{$imagesPath}indian-wedding/slide6-big.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 1080px;
}
.i-w-box7 {
  background: url("#{$imagesPath}indian-wedding/slide7-big.jpg") no-repeat;
  background-position: left top;
  background-size: 100% 1080px;
}
.i-w-box {
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0;
}
.i-w-box__title,
.i-w-box__text,
.i-w-box__subtitle {
  flex-basis: 56%;
  margin-left: auto;
}
.i-w-box__title {
  padding: 60px 0 20px 70px;
  font-size: 93px;
  line-height: 113.6%;
  span {
    display: block;
    text-align: left;
  }
}
.i-w-box__subtitle {
  font-size: 41px;
  line-height: 56px;
  padding-top: 55px;
}
.i-w-box__text {
  font-size: 22px;
  line-height: 113.6%;
  height: auto;
  padding-right: 250px;
}
.i-w-slider__bottoms {
  width: 290px;
}
.i-w-slider__bottom {
  width: 20px;
  height: 20px;
  margin-right: 25px;
}

// styling for div .i-w-slider ends

//styling for  div .i-w-benefits starts

//styling for  div .i-w-benefits ends
.i-w-benefits:after {
  display: none;
}
.i-w-benefits:before {
  left: 50%;
}
.i-w-benefits {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1276px;
  margin: 0 auto;
  padding: 130px 0;
}
.i-w-benefit {
  flex-basis: 50%;
  height: 70px;
  justify-content: space-between;
}
.i-w-benefit:nth-child(odd) {
  padding-left: 70px;
}
.i-w-benefit:nth-child(even) {
  padding-right: 70px;
}
.i-w-benefits__t {
  padding-left: 30px;
  font-size: 21px;
  line-height: 24px;
  svg {
    width: 70px;
    height: 70px;
    left: -2px;
    top: -26px;
  }
}
.i-w-benefits__d {
  padding-left: 0px;
  text-align: end;
}
.i-w-review__box-name {
  margin-bottom: 15px;
}
.i-w-reviw__box-role {
  margin-bottom: 15px;
}
.i-w-review__box-text {
  font-size: 22px;
  line-height: 113.6%;
}
// styling for section .i-w-review starts
.i-w-review__box {
  flex-basis: 25%;
}
// styling for section .i-w-review ends
