.stay-in-touch {
  max-width: 1920px;
  margin: 0 auto;
}
.stay-in-touch-header {
  background: url("#{$imagesPath}index/stay-intouch_big.jpg") no-repeat;
  background-size: 100% 1143px;
  padding-top: 944px;
}
.stay-in-touch__title {
  width: 1038px;
  height: 200px;
  font-size: 125px;
  line-height: 125px;
  padding-top: 42px;
}
.contacts {
  margin: 143px 0 128px 0;
  gap: 150px;
}
.contacts-item {
  margin-bottom: 56px;
  padding-right: 121px;
  a {
    line-height: 42px;
    font-size: 31px;
  }
  &:after {
    width: 60px;
    height: 60px;
    right: -30px;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
}
.contacts__text-tablet {
  font-size: 28px;
  margin-bottom: 57px;
}
