//fonts
// $google-font: "https://fonts.googleapis.com/css?family=Ubuntu:400,500";
// $prefix: $baseFontFamily:prefix- !default;
// $baseFontSize: 16px;
$baseFontFamily: "Baskerville-regular";
$fontBaskerville-Italic: "Baskerville-Italic";
$fontMetropolis-Black: "Metropolis-Black";
$fontMetropolis-Regular: "Metropolis-Regular";
$fontParis: "Paris";

// $mediumFontWeight: 500;

// $mobilePadding: (12px / $baseFontSize) * 1rem;
// $desktopPadding: 1rem;

// Paths

$imagesPath: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #000000;
$gray: #464646;
$light-brown: #d59d40;
$light-gray: #bebebe;
$creme: #fbf5ec;
$lightest-gray: #f0f0f0;
$white: #ffffff;
