// //fonts
$Montserrat_Regular: "Montserrat_Regular", serif;
$Montserrat_Medium: "Montserrat_Medium", serif;
$KindlyJasmine: "KindlyJasmine";
$Montserrat_Bold: "Montserrat_Bold", serif;

// Paths

$imagesPath: "../../../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #000000;
$white: #ffffff;
$yellow: #ffc700;
$blue: #0499dd;
$light-blue: #17c1bc;
$grey: grey;
$lightgrey: #d4d4d4;
$red: #d33535;
