$baseFontFamily: "Baskerville-regular";
$fontBaskerville-Italic: "Baskerville-Italic";
$fontMetropolis-Black: "Metropolis-Black";
$fontMetropolis-Regular: "Metropolis-Regular"; //avenir
$fontParis: "Paris";

// Paths

$imagesPath: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #000000;
$black-bg: #0d0a09;
$gray: #464646;
$light-brown: #d59d40;
$light-gray: #bebebe;
$creme: #fbf5ec;
$lightest-gray: #f0f0f0;
$white: #ffffff;
