.features {
  // display: flex;
  // flex-direction: column;
  // align-items: end;
  height: 954px;
  background: url("#{$imagesPath}index/hero_medium.jpg") top left no-repeat;
  background-size: auto;
}
.features__info {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.features__titles {
  margin: 0;
  max-width: 50%;
  padding: 171px 61px 0 0;
}
.features__title {
  text-align: left;
  font-size: 110px;
  letter-spacing: 0;
}
.features__text {
  max-width: 50%;
  margin: 0;
  padding: 88px 61px 0 0;
  font-size: 26px;
}
.features__link {
  bottom: 66px;
}

// styling for div .menu
.menu {
  display: flex;
  flex-wrap: nowrap;
}
.menu__list {
  flex-basis: 346px;
  padding-top: 0;
  padding-left: 43px;
}
.menu__item-open {
  padding-bottom: 0;
}
.menu__item {
  font-size: 23px;
  text-align: left;
}
.menu__item_descr {
  position: relative;
  height: 323px;
  flex-basis: 421px;
  margin: auto 0 auto 47px;
  top: 0;
  flex-grow: 100;
  span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    max-width: 63%;
  }
}
.menu__item_descr::after {
  left: -47px;
}
