.packages {
  background: url("../i/index/packages_medium.jpg") no-repeat;
  background-size: 100% 799px;
  padding-top: 521px;
}
.packages__wrapper {
  background: rgba(244, 244, 244, 0.8);
  width: 442px;
  margin: 0 auto;
}
.packages__title {
  font-size: 80px;
  color: $black;
  padding-top: 52px;
}
.packages__subtitle {
  padding-top: 22px;
  font-size: 22px;
  width: auto;
}
.packages__subtitle:after {
  bottom: -20px;
}
.packages_info {
  margin: 34px auto 43px auto;
  font-size: 22px;
  width: 375px;
}
