.portfolio {
  height: 385px;
  background: url("#{$imagesPath}/index/portfolio_medium.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.portfolio__subtitle {
  padding-top: 249px;
  font-size: 41px;
  line-height: 56px;
}
.btn {
  width: 248px;
  height: 49px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  font-size: 32px;
}
