.stories {
  background: url("#{$imagesPath}index/stories_s_m.jpg") no-repeat;
  background-position: center 370px;
  background-size: 100% 289px;
}
.stories__title {
  font-size: 80px;
  padding-top: 10px;
  margin-bottom: 31px;
}
.stories__subtitle {
  font-size: 25px;
}
.stories__text {
  font-size: 24px;
  text-align: justify;
  margin-bottom: 310px;
}
