.stories {
  text-align: center;
  background: #f9f4ec;
  padding: 25px 0;
}
.stories__title {
  margin: 0;
  font-family: $fontParis;
  font-size: 43px;
  line-height: 43px;
  letter-spacing: -0.08em;
  font-weight: 500;
}
.stories__subtitle {
  font-size: 12px;
  line-height: 120.4%;
  color: $light-brown;
}
.stories__text {
  padding: 0 43px;
  font-family: $fontBaskerville-Italic;
  font-size: 14px;
  line-height: 111.6%;
  margin-bottom: 12px;
  font-weight: 300;
}
